<h1>Anmeldeseite</h1>

<form action="." method="post" target="_self"><input
	type="hidden" name="page" value="{{PAGE}}" /> <input type="hidden"
	name="action" value="login" />
<table>
	<tr>
		<td>Benutzer:</td>
		<td><input type="text" name="LoginUsername" value="" tabindex="1" /></td>
	</tr>
	<tr>
		<td>Password:</td>
		<td><input type="password" name="LoginPassword" value=""
			tabindex="2" /></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="reset" name="reset" value="Abbrechen" /> <input
			type="submit" name="submit" value="Anmelden" tabindex="3" /></td>
	</tr>
</table>
</form>