<div id="statusbox">
<div id="statusbox_left">Name<br />
<!--USERNAME--></div>
<div id="statusbox_right">Status<br />
<!--USERSTATUS--></div>
</div>

<br clear="all" />

<div id="functions">
<form enctype="multipart/form-data" action="" method="post"
	target="_self" id="function_buttons_form">
<div id="currentdate"><!--CURRENTDATE--></div>
<div id="function_buttons">
 <input type="hidden" name="page" value="home" />
 <input type="hidden" name="action" value="terminal_functions" />
 <input name="submit_comming" type="submit" id="submit_coming" 
  tabindex="1" value="Kommen" />
 <input name="submit_going" type="submit" id="submit_going" 
  tabindex="2" value="Gehen" />
</div>
</form>
</div>

<br clear="all" />

<div id="lastbookings">
<table id="lastbookings_table">
	<tr>
		<td id="lastbookings_head_datum">Datum</td>
		<td id="lastbookings_head_buchung">Bu. -Art</td>
	</tr>
	<!--TABLE_LASTBOOKINGS-->
</table>
</div>
