@CHARSET "UTF-8";

/* CSS for main program */
BODY {
	font-family: verdana, arial;
	font-size: 10pt;
	margin: 0px;
	padding: 45px 10px 20px 10px;
	background-color: white;
	background: white;
}

#footer {
	position: fixed;
	right: 2px;
	bottom: 0px;
	z-index: 2000;
}

#errors {
	margin: 5px;
	font-size:12pt;
	color: red;
	font-weight: bold;
}

#errors A {
	font-size:12pt;
	color: red;
	font-weight: bold;
	text-decoration: none;
}

.timers {
	font-size: 9pt;
	color: #999999;
	font-weight: bold;
	font-style: italic;
	padding: 8px;
	overflow: hidden;
}

#last_bookings {
	border: none;
	width: 100%;
	font-size: 9pt;
}

#last_bookings td {
	border: 1px solid #a4daa5;
	padding: 2px;
	width: 20%;
	text-align: center;
	vertical-align: middle;
}

#last_bookings b {
	font-size: 9pt;
}	

#last_summary {
	border: none;
	width: 100%;
	margin-top: 8px;
	font-size: 9pt;
}

#last_summary td {
	border: none;
	padding-right: 10px;
	width: 50%;
	vertical-align: middle;
	text-align: right;
}

#last_summary td.left {
	text-align: left;
	padding-left: 10px;
}

#last_summary b {
	font-size: 9pt;
}	

#user_table {
	font-size: 9pt;
	border: none;
	width: 100%;
}

#user_table td {
	border: 1px solid #a4daa5;
	padding: 2px;
	width: 20%;
	text-align: center;
	vertical-align: middle;
}

#user_table b {
	font-size: 9pt;
}