@charset "UTF-8";

BODY {
	background-color: navy;
	background: navy;
	font-family: verdana, arial;
	font-size: 10pt;
	margin: 0;
	padding: 0;
}

.logintext {
	width: 50%;
}

.logininfo {
	font-weight: bold;
}

.loginpasswd {
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: #666666;
	text-decoration: none;
}

#login_window {
	position: absolute;
	left: 35%;
	top: 15%;
	width: 326px;
	height: 220px;
	background: url(../images/login_bg_top.png) no-repeat top left;
	overflow: visible;
}

#login_window_top {
	position: relative;
	width: 326px;
	height: 89px;
	font-size: 12pt;
	font-weight: bold;
	color: white;
	top: 6px;
	left: 12px;
}

#login_window_center {
	width: 326px;
	height: 125px;
	background: url(../images/login_bg_center.png) repeat-y top left;
}

#login_window_bottom {
	font-size: 0pt;
	width: 326px;
	height: 4px;
	background: url(../images/login_bg_bottom.png) no-repeat bottom left;
}

#loginform legend {
	font-weight: bold;
}

#loginform label {
	display: block;
	height: 2em;
	padding: 10px 10px 0;
}

#loginform input.logintext {
	font-size: 9pt;
	margin-right: 20px;
	border: none;
	float: right;
	clear: right;
	background: white;
	border: 1px solid #999999;
}

#loginform input.logintext:focus,#loginform input.logintext:hover {
	border: 1px solid #043b74;
}

#loginsubmit {
	position: absolute;
	font-size: 8pt;
	width: 75px;
	height: 22px;
	background: url(../images/login_bg_button.png);
	margin-right: 20px;
	border: none;
	color: black;
	cursor: pointer;
	right: 10px;
	bottom: 28px;
}

#errors {
	color: white;
	margin: 20px;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
}

#footer {
	position: fixed;
	right: 2px;
	bottom: 0px;
	z-index: 2000;
}