@CHARSET "UTF-8";

.win {
	position: absolute;
	border: none;
	overflow: visible;
	font-family: verdana, arial;
	font-size: 9pt;
	float: left;
	padding: 10px;
	z-index: 100;
}

.win hr {
	position: relative;
	width: 100%;
	color: #a4daa5;
	height: 2px;
	border: none;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	border-top: 2px solid #a4daa5;
}

.win_corner_lt {
	position: relative;
	width: 10px;
	height: 40px;
	background: url(../images/win_corner_lt.png) no-repeat top left;
	float: left;
}

.win_bg_top {
	position: relative;
	height: 40px;
	background: url(../images/win_bg_top.png) repeat-x;
	float: left;
	font-size: 13pt;
	font-weight: bold;
	line-height: 38px;
	color: white;
}

.win_corner_rt {
	position: relative;
	width: 10px;
	height: 40px;
	background: url(../images/win_corner_rt.png) no-repeat top right;
	float: left;
}

.win_bg_left {
	position: relative;
	width: 10px;
	background: url(../images/win_bg_left.png) repeat-y top left;
	float: left;
}

.win_bg_center {
	position: relative;
	float: left;
	overflow: auto;
	line-height: 17px;
	background: #fbfdfa;
}

.win_bg_right {
	position: relative;
	width: 10px;
	background: url(../images/win_bg_right.png) repeat-y top right;
	float: left;
}

.win_bg_left2 {
	position: relative;
	width: 10px;
	background: url(../images/win_bg_left2.png) repeat-y top left;
	float: left;
}

.win_bg_center2 {
	position: relative;
	float: left;
	background: #cbebcd;
	color: #3b5b3d;
	font-size: 10pt;
	line-height: 28px;
	font-weight: bold;
	overflow: auto;
}

.win_bg_right2 {
	position: relative;
	width: 10px;
	background: url(../images/win_bg_right2.png) repeat-y top right;
	float: left;
}

.win_corner_lb {
	position: relative;
	width: 10px;
	height: 40px;
	background: url(../images/win_corner_lb.png) no-repeat top left;
	float: left;
}

.win_bg_bottom {
	position: relative;
	height: 40px;
	background: url(../images/win_bg_bottom.png) repeat-x;
	float: left;
}

.win_corner_rb {
	position: relative;
	width: 10px;
	height: 40px;
	background: url(../images/win_corner_rb.png) no-repeat top left;
	float: left;
}

.win_attr {
	position: relative;
	text-align: left;
	width: 220px;
	float: left;
	font-weight: bold;
	padding-left: 10px;
}

.win_value {
	position: relative;
	text-align: right;
	width: 180px;
	float: left;
}