/*
* After modifying this style sheet, refresh the page being designed to see the effect of the modification.
* Click the Refresh button in the Visual Designer toolbar to refresh the page.
*/ 


body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    background-color: #fffff5;
}

.tab-content {
    background-color: #a0bcd8;
}

.bookingTableColumn1 {
    width: 50px;
}

.bookingTableColumn2 {
    width: 50px;
}

.bookingTableColumn3 {
    width: 100px;
}

.bookingTableColumn4 {
    width: 100px;
}

/* Style rules to make Java Server faces Standarad data tables look better */
.list-header {
    background-color: #eeeeee;
    font-size: larger;
    font-weight: bold;
}

.list-paging-header {
    background-color: white;
}

.list-paging-footer {
    background-color: white;
}

.list-row-even { 
}

.list-row-odd { 
    background-color: #eeeeee;
}

/* Style rules for message severity levels */

.infoMessage {
    color: black;
}

.warnMessage {
    color: orange;
    font-weight: bold;
}

.errorMessage {
    color: red;
    font-weight: bold;
}

.fatalMessage {
    color: red;
    font-style: italic;
    font-weight: bold;
}